build --incompatible_disable_deprecated_attr_params=false --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64 --incompatible_new_actions_api=false --incompatible_depset_union=false 

query --incompatible_disable_deprecated_attr_params=false

#build --remote_executor=grpc://uriah1.fyre.ibm.com:8090

# Stores the cache in location specified rather, default ~/.cache/bazel
# build --repository_cache=/.repo_cache          

# Bazel remote cache on HTTP location. 
# build --remote_http_cache=http://$CIRRUS_HTTP_CACHE_HOST 

# remote cache on gRPC and remote executors 
# https://github.com/bazelbuild/bazel-buildfarm
# build --remote_executor=grpc://<machine>:8980

# maven to bazel conversion.
# https://www.wix.engineering/post/introducing-exodus-easily-migrate-from-maven-to-bazel

